{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Crop</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="{% static 'perspective/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div id="background" class="o_image">
            <img id="sample" src="/media/1234.png" alt="bill"/>
            <!-- <img id="sample" src="/media/test.jpg" alt="bill"/> -->
            <!-- <img src="https://cdn.shopify.com/s/files/1/0812/8149/products/Bunny-Bashful_Beige_Bunny_7c782995-0007-41de-ab15-41c3be94aca0.jpg?v=1573713754" alt="" id="sample" onclick="test();" crossOrigin="Anonymous"> -->
            <span>©reactcodes blog</span>
        </div>
        <div class="p_image">
            <canvas id="imageInit"></canvas>
            <canvas id="imageResult"></canvas>
        </div>
    </div>
    <div class="b_container">
        <button id="apply">Apply</button>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400">
        <script>
          function clicked(evt) {
            var e = evt.target;
            var dim = e.getBoundingClientRect();
            var x = evt.clientX - dim.left -40;
            var y = evt.clientY - dim.top -40;
            console.log("x: " + x + " y:" + y);
            pd_old = $('#test').val()
            if (pd_old) {
                pd_new = pd_old + ',' + x + ',' + y
            }
            else {
                pd_new = x + ',' + y
            }
            $('#test').val(pd_new)
          }

        </script>
        <g transform="translate(0 0)" onclick="clicked(evt)">
          <rect x="0" y="0" width="500" height="500" style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.05;stroke-opacity:0.9"/>
        </g>
      </svg>
    </div>
    <br><br><br><br><br>
    <input type="text" id="test" value="">
    <button type="button" onclick="back_del();">del</button>
    <button type="button" onclick="back_del();">run</button>
    <!-- <img src="/media/1.jpg" onclick="test();" alt="" id="image2">
    <img src="https://cdn.shopify.com/s/files/1/0812/8149/products/Bunny-Bashful_Beige_Bunny_7c782995-0007-41de-ab15-41c3be94aca0.jpg?v=1573713754" alt="" id="image" onclick="test();" crossOrigin="Anonymous"> -->

    <script type="text/javascript">
        function back_del() {
            old_text = $('#test').val()
            old_text = old_text.split(',')
            old_text = old_text.slice(0, old_text.length-2)
            $('#test').val(old_text)
        }
    </script>

</body>

<script src="{% static 'perspective/libs/qunit-2.0.1.js' %}"></script>
<script src="{% static 'perspective/utils.js' %}"></script>
<script src="{% static 'perspective/perspective.js' %}"></script>
<script src="{% static 'perspective/libs/d3.v3.min.js' %}"></script>
<script src="{% static 'perspective/libs/numeric-solve.min.js' %}"></script>
<script src="{% static 'perspective/index.js' %}"></script>
<script src="{% static 'perspective/ocrad.js' %}"></script>

<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- <script src="./libs/qunit-2.0.1.js" type="text/javascript"></script>
<script src="utils.js" type="text/javascript"></script>
<script src="perspective.js" type="text/javascript"></script>
<script src="./libs/d3.v3.min.js"></script>
<script src="./libs/numeric-solve.min.js"></script>
<script src="./index.js"></script>
<script src="./ocrad.js"></script> -->

<script type="text/javascript">
function test() {
    var image = document.getElementById('image2');
    var string = OCRAD(image);
    console.log(string);

}
</script>
</html>

<!-- <div class="p_image">
    <canvas id="imageInit"></canvas>
</div>
<div class="b_container">
    <button id="apply">Apply</button>
</div> -->
