{% extends 'lab/lab1.html' %}
{% load static %}
{% block body_block %}

<style media="screen">
    .pd_css{
        text-align: center;
        border-bottom:1px solid #000;
    }
</style>

<link href="{% static 'assets/plugins/custom/kanban/kanban.bundle.css' %}" rel="stylesheet" type="text/css"/>
<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-primary svg-icon-xl">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <path
                        d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z"
                        fill="#000000" opacity="0.3" />
                    <path
                        d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z"
                        fill="#000000" fill-rule="nonzero" />
                </g>
            </svg>
            <!--end::Svg Icon--></span> </div>
    <div class="alert-text">
        Kanban JavaScript UI widget.
        For more info please visit
        <a class="font-weight-bold" href="http://www.riccardotartaglia.it/jkanban/" target="_blank">Kanban Home</a> or
        <a class="font-weight-bold" href="https://github.com/riktar/jkanban" target="_blank">Kanban GitHub Repo</a>.
    </div>
</div>
<!-- end::Notice -->

<!--begin::Card-->
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Pudith
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div id="pudith"></div>
    </div>
</div>
<!--end::Card-->

<!--begin::Card-->
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Basic Example
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div id="kt_kanban_1"></div>
    </div>
</div>
<!--end::Card-->

<!--begin::Card-->
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Color Options
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div id="kt_kanban_2"></div>
    </div>
</div>
<!--end::Card-->

<!--begin::Card-->
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Control Dragging Board
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div id="kt_kanban_3"></div>
    </div>
</div>
<!--end::Card-->

<!--begin::Card-->
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Interactivity Example
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div id="kt_kanban_4"></div>

        <div class="mt-4">
            <button class="btn font-weight-bold btn-light-primary mr-5" id="addDefault">Add "Default" board</button>
            <button class="btn font-weight-bold btn-light-danger mr-5" id="addToDo">Add element in "To Do" Board</button>
            <button class="btn font-weight-bold btn-light-success" id="removeBoard">Remove "Done" Board</button>
        </div>
    </div>
</div>
<!--end::Card-->
{% endblock %}

{% block script_block %}
<script src="{% static 'assets/plugins/custom/kanban/kanban.bundle.js' %}"></script>
<script src="{% static 'assets/js/pages/features/miscellaneous/kanban-board.js' %}"></script>
<script type="text/javascript">
var _demo1 = function() {
    var kanban = new jKanban({
        element: '#pudith',
        gutter: '0',
        widthBoard: '250px',
        boards: [{
                'id': '_inprocess',
                'title': 'In Process',
                'class': 'pd_css',
                'item': [{
                        'title': '<span class="font-weight-bold">You can drag me too</span>'
                    },
                    {
                        'title': '<span class="font-weight-bold">Buy Milk</span>'
                    }
                ]
            }, {
                'id': '_working',
                'title': 'Working',
                'item': [{
                        'title': '<span class="font-weight-bold">Do Something!</span>'
                    },
                    {
                        'title': '<span class="font-weight-bold">Run?</span>'
                    }
                ]
            }, {
                'id': '_done',
                'title': 'Done',
                'item': [{
                        'title': '<span class="font-weight-bold">All right</span>'
                    },
                    {
                        'title': '<span class="font-weight-bold">Ok!</span>'
                    }
                ]
            }
        ]
    });
}
jQuery(document).ready(function() {
    _demo1();
});

</script>
{% endblock %}
