{% load static %}
<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>

<h1>test 0001</h1>
<a href="{% url 'main:lab_01' %}"><button type="button" class="btn btn-primary" name="button">LAB base side bar</button></a>
<a href="{% url 'main:lab_01' %}"><button type="button" class="btn btn-primary" name="button">LAB 01</button></a>
<a href="{% url 'main:lab_01' %}"><button type="button" class="btn btn-primary" name="button">LAB 01</button></a>
<img alt="Logo" src="/media/Alert.jpg"/>qwerty

<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
